.credit {
    /* background-color: aqua; */
    margin-bottom: 0;
    border-width: 10px;
    border: blue;
    border-radius: 10;
    height: 35px;
    /* width: 50%; */
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    -ms-border-radius: 10;
    -o-border-radius: 10;
}

table,
th,
td {
    border: 1px solid black;
}

.myButton {
    box-shadow: 0px 0px 0px 0px #3dc21b;
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color: #5cbf2a;
}

.myButton:active {
    position: relative;
    top: 1px;
}